# environment variables
.env

# macOS
.DS_Store

# Python
venv/
__pycache__/

# Expo specific ignores
apps/frontend/node_modules/
apps/frontend/.expo/
apps/frontend/dist/
apps/frontend/npm-debug.*
apps/frontend/*.jks
apps/frontend/*.p8
apps/frontend/*.p12
apps/frontend/*.key
apps/frontend/*.mobileprovision
apps/frontend/*.orig.*
apps/frontend/web-build/
apps/frontend/expo-env.d.ts

# Mobile app build folders
apps/frontend/ios
apps/frontend/android

# Temporary files created by Metro
apps/frontend/.metro-health-check*